<!doctype html>
<html lang="en">
  <!-- ======= ======= ======= head ======= ======= ======= -->
	<head>
	    <link rel="stylesheet" type="text/css" href="biz_styles.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
  <!-- ======= ======= ======= body ======= ======= ======= -->
	<body>
	    <!-- ======= header ======= -->
	    <div id="header" class="section">
	        <p>header</p>
	    <!-- ======= menu ======= -->
		<div id="menu-container" class="section">
			<%= erb :menu %>
		</div>
	    </div>
      <a id="registerLink" href="#">Register</a>

      <!-- ======= signup modal box ====== -->
      <div id="modalPage">
        <div id="modalBox">
          <p><%= erb :register %></p>
        </div>
      </div>
	    <!-- ======= content ======= -->
		<div id="yield-container" class="section">
			<%= yield %>
		</div>
	    <!-- ======= footer ======= -->
	    <div id="footer" class="section">
	        <p>footer</p>
	    </div>
	    <!-- ======= scripts ======= -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		  <script type="text/javascript" src="/biz_script.js"></script>
	</body>
</html>
