<!-- ======= views/menu.erb ======  -->
<div class="menu_item">
  <a href="home">Home</a>
</div>
<div class="menu_item">
  <a href="about">About</a>
</div>
<div class="menu_item">
  <a href="contact">Contact</a>
</div>
<div class="menu_item">
  <a href="gallery">Gallery</a>
</div>
