<!-- ======= views/menu.erb ======  -->
<!-- main menu loop -->

<div id="menu_item-box">
  <% main_menu = ["home","gallery", "contact"] %>
    <% for x in main_menu %>
      <div class="menu_item"><a href=<%=x%>> <%=x%> </a></div>
    <% end %>
</div>
